.slider{
    width:1300px;
}
.imgItem{
    width: 300px;
    height: 400px;
    position: relative;

}
.imgItem div{
    width: 200px;
    height: 250px;
    position: absolute;
    top:0;bottom: 0;left:0;right: 0;
    margin:auto;
}
.slick-slide {
    opacity: .6;
    width:10px;
  }
 .slick-center{
    display: block;
    opacity: 1;
 }
 .slick-center div{
     width: 270px;
     height: 300px;
 }
 img{
    border-radius: 20px;
 }