.layout{
    width:1500px;
    height: 1500px;
}
.mainContent{
   background-color: white;
}
.sider{
    border: 1px dotted rgb(138, 199, 240);
    color: rgb(83, 179, 243);
    background-color: rgb(233, 240, 248);
    overflow: 'auto';
    position: 'fixed';
    border-radius: 25px;
}

.detailmain{
   background-color: white;

}
.detail{
    height: 100%;
}
.comments{
    height: 700px;

}
.footer{
    background-color: rgb(240, 247, 248);
}
.result{
    display: flex;
    justify-content: space-around;
}
.text{
    width:60px;
    font-size: 2em;
    text-align: center;
}
.rate{
    flex:1;
    margin-top: 5px;
}


