.wishMainLayout{
    padding:64px 150px;
}
.wishSider{
    height: 100%;
}
.wishContentLayout{
    margin:0 16px;
}
.bread{
    margin: 16px 0;
}
.wishContent{
    background-color: white;
    position: relative;
}
.movieList{
    width: 900px;
    height: 1130px;
    position: absolute;
    top: 0;left:0;right:0;bottom:0;
    margin:auto;
 
}
.movieItem{
    display: inline-block;
    width: 300px;
    height: 376px;
    vertical-align: top;
}
.movie{
    width:230px;
    height:340px;
    margin:auto;
    position: relative;
}
.movieItem Button{
    position: absolute;
    top: 200;left:0;right:0;bottom:0;
    margin: auto;
}
.wishmage{
    width: 230px;
    height: 290px;
}